
  
 <div class="cd-fixed-bg cd-bg-1">
  </div> 
 
  <div class="cd-scrolling-bg cd-color-2">
    <div class="cd-container">
  <section class="footer-calls-to-action" style="margin-top:0px;padding:15px;">

      
      <footer class="site-footer site-footer-a">
          <h2>Test DB</h2>
        <form>
          <div class="form-group input-group">
          <input class="form-control" ng-model="vm.data.name" name="name" placeholder="name"/>
          <input class="form-control" name="value" ng-model="vm.data.value" placeholder="value"/>
        </div>
        <button class="btn btn-default submit anchorButton" ng-click="vm.postTest()">Submit</button>
      </form>
      </footer>


      <footer class="site-footer site-footer-b">
       <h2>Anchor</h2>
        <form action="https://belltec.syncedtool.com/1/auth/" method="post">
          <div class="form-group input-group">
          <input class="form-control" name="username" placeholder="username"/>
          <input type="password" class="form-control" name="password" placeholder="password"/>
        </div>
        <button class="btn btn-default submit anchorButton">Submit</button>
      </form>
      </footer>


      <footer class="site-footer site-footer-c">
      
      </footer>


      <footer class="site-footer site-footer-d">
     
      </footer>


      <footer class="site-footer site-footer-e">
     
      </footer>

      
      <footer class="site-footer site-footer-f">
      
      </footer>


  </section>
     
    </div> 
  </div> 


 <div class="cd-fixed-bg cd-bg-2">
  </div>


  <div class="cd-scrolling-bg cd-color-2">
    <div class="cd-container">
  <section class="footer-calls-to-action" style="margin-top:0px;padding:15px;">

      
      <footer class="site-footer site-footer-a">
          <h2>Test DB</h2>
        <form>
          <div class="form-group input-group">
          <input class="form-control" ng-model="vm.data.name" name="name" placeholder="name"/>
          <input class="form-control" name="value" ng-model="vm.data.value" placeholder="value"/>
        </div>
        <button class="btn btn-default submit anchorButton" ng-click="vm.postTest()">Submit</button>
      </form>
      </footer>


      <footer class="site-footer site-footer-b">
       <h2>Anchor</h2>
        <form action="https://belltec.syncedtool.com/1/auth/" method="post">
          <div class="form-group input-group">
          <input class="form-control" name="username" placeholder="username"/>
          <input type="password" class="form-control" name="password" placeholder="password"/>
        </div>
        <button class="btn btn-default submit anchorButton">Submit</button>
      </form>
      </footer>


      <footer class="site-footer site-footer-c">
      
      </footer>


      <footer class="site-footer site-footer-d">
     
      </footer>


      <footer class="site-footer site-footer-e">
     
      </footer>

      
      <footer class="site-footer site-footer-f">
      
      </footer>


  </section>
     
    </div> 
  </div> 

<div class="cd-fixed-bg cd-bg-3">
  </div>


  <div class="cd-scrolling-bg cd-color-2">
    <div class="cd-container">
  <section class="footer-calls-to-action" style="margin-top:0px;padding:15px;">

      
      <footer class="site-footer site-footer-a">
          <h2>Test DB</h2>
        <form>
          <div class="form-group input-group">
          <input class="form-control" ng-model="vm.data.name" name="name" placeholder="name"/>
          <input class="form-control" name="value" ng-model="vm.data.value" placeholder="value"/>
        </div>
        <button class="btn btn-default submit anchorButton" ng-click="vm.postTest()">Submit</button>
      </form>
      </footer>


      <footer class="site-footer site-footer-b">
       <h2>Anchor</h2>
        <form action="https://belltec.syncedtool.com/1/auth/" method="post">
          <div class="form-group input-group">
          <input class="form-control" name="username" placeholder="username"/>
          <input type="password" class="form-control" name="password" placeholder="password"/>
        </div>
        <button class="btn btn-default submit anchorButton">Submit</button>
      </form>
      </footer>


      <footer class="site-footer site-footer-c">
      
      </footer>


      <footer class="site-footer site-footer-d">
     
      </footer>


      <footer class="site-footer site-footer-e">
     
      </footer>

      
      <footer class="site-footer site-footer-f">
      
      </footer>


  </section>
     
    </div> 
  </div> 

<div class="cd-fixed-bg cd-bg-4">
  </div>


  <div class="cd-scrolling-bg cd-color-2">
    <div class="cd-container">
  <section class="footer-calls-to-action" style="margin-top:0px;padding:15px;">

      
      <footer class="site-footer site-footer-a">
          <h2>Test DB</h2>
        <form>
          <div class="form-group input-group">
          <input class="form-control" ng-model="vm.data.name" name="name" placeholder="name"/>
          <input class="form-control" name="value" ng-model="vm.data.value" placeholder="value"/>
        </div>
        <button class="btn btn-default submit anchorButton" ng-click="vm.postTest()">Submit</button>
      </form>
      </footer>


      <footer class="site-footer site-footer-b">
       <h2>Anchor</h2>
        <form action="https://belltec.syncedtool.com/1/auth/" method="post">
          <div class="form-group input-group">
          <input class="form-control" name="username" placeholder="username"/>
          <input type="password" class="form-control" name="password" placeholder="password"/>
        </div>
        <button class="btn btn-default submit anchorButton">Submit</button>
      </form>
      </footer>


      <footer class="site-footer site-footer-c">
      
      </footer>


      <footer class="site-footer site-footer-d">
     
      </footer>


      <footer class="site-footer site-footer-e">
     
      </footer>

      
      <footer class="site-footer site-footer-f">
      
      </footer>


  </section>
     
    </div> 
  </div> 

  <div class="cd-fixed-bg cd-bg-5">
  </div>


  <div class="cd-scrolling-bg cd-color-5">
    <div class="cd-container">
  <section class="footer-calls-to-action" style="margin-top:0px;padding:15px;">

      
      <footer class="site-footer site-footer-a">
          <h2>Test DB</h2>
        <form>
          <div class="form-group input-group">
          <input class="form-control" ng-model="vm.data.name" name="name" placeholder="name"/>
          <input class="form-control" name="value" ng-model="vm.data.value" placeholder="value"/>
        </div>
        <button class="btn btn-default submit anchorButton" ng-click="vm.postTest()">Submit</button>
      </form>
      </footer>


      <footer class="site-footer site-footer-b">
       <h2>Anchor</h2>
        <form action="https://belltec.syncedtool.com/1/auth/" method="post">
          <div class="form-group input-group">
          <input class="form-control" name="username" placeholder="username"/>
          <input type="password" class="form-control" name="password" placeholder="password"/>
        </div>
        <button class="btn btn-default submit anchorButton">Submit</button>
      </form>
      </footer>


      <footer class="site-footer site-footer-c">
      
      </footer>


      <footer class="site-footer site-footer-d">
     
      </footer>


      <footer class="site-footer site-footer-e">
     
      </footer>

      
      <footer class="site-footer site-footer-f">
      
      </footer>


  </section>
     
    </div> 
  </div> 

  <div class="cd-fixed-bg cd-bg-6">
  </div>


  <div class="cd-scrolling-bg cd-color-2">
    <div class="cd-container">
  <section class="footer-calls-to-action" style="margin-top:0px;padding:15px;">

      
      <footer class="site-footer site-footer-a">
          <h2>Test DB</h2>
        <form>
          <div class="form-group input-group">
          <input class="form-control" ng-model="vm.data.name" name="name" placeholder="name"/>
          <input class="form-control" name="value" ng-model="vm.data.value" placeholder="value"/>
        </div>
        <button class="btn btn-default submit anchorButton" ng-click="vm.postTest()">Submit</button>
      </form>
      </footer>


      <footer class="site-footer site-footer-b">
       <h2>Anchor</h2>
        <form action="https://belltec.syncedtool.com/1/auth/" method="post">
          <div class="form-group input-group">
          <input class="form-control" name="username" placeholder="username"/>
          <input type="password" class="form-control" name="password" placeholder="password"/>
        </div>
        <button class="btn btn-default submit anchorButton">Submit</button>
      </form>
      </footer>


      <footer class="site-footer site-footer-c">
      
      </footer>


      <footer class="site-footer site-footer-d">
     
      </footer>


      <footer class="site-footer site-footer-e">
     
      </footer>

      
      <footer class="site-footer site-footer-f">
      
      </footer>


  </section>
     
    </div> 
  </div> 


  <div class="cd-fixed-bg cd-bg-7">
  </div>


  <div class="cd-scrolling-bg cd-color-2">
    <div class="cd-container">
  <section class="footer-calls-to-action" style="margin-top:0px;padding:15px;">

      
      <footer class="site-footer site-footer-a">
          <h2>Test DB</h2>
        <form>
          <div class="form-group input-group">
          <input class="form-control" ng-model="vm.data.name" name="name" placeholder="name"/>
          <input class="form-control" name="value" ng-model="vm.data.value" placeholder="value"/>
        </div>
        <button class="btn btn-default submit anchorButton" ng-click="vm.postTest()">Submit</button>
      </form>
      </footer>


      <footer class="site-footer site-footer-b">
       <h2>Anchor</h2>
        <form action="https://belltec.syncedtool.com/1/auth/" method="post">
          <div class="form-group input-group">
          <input class="form-control" name="username" placeholder="username"/>
          <input type="password" class="form-control" name="password" placeholder="password"/>
        </div>
        <button class="btn btn-default submit anchorButton">Submit</button>
      </form>
      </footer>


      <footer class="site-footer site-footer-c">
      
      </footer>


      <footer class="site-footer site-footer-d">
     
      </footer>


      <footer class="site-footer site-footer-e">
     
      </footer>

      
      <footer class="site-footer site-footer-f">
      
      </footer>


  </section>
     
    </div> 
  </div> 

  <div class="footer">
    <div class="cd-container">
   <p style="font-family:'Source Code Pro',courier, andale mono, inconsolata, monospace; position:relative;top:7px;text-align: center;">This is where my footer will be and I will tell things here about feet</p>
      </div> 
  </div>